.Mars-Modal-Wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  font-family: "Raleway",'Microsoft YaHei','Helvetica Neue','Helvetica','Arial','sans-serif';
  &.Mars-Modal-Wrap-On {
    display: flex;
  }

  //Modal position
  &.Mars-Modal-Vertical {
    align-items: center;
  }
  &.Mars-Modal-Horizontal {
    justify-content: center;
  }
  .Mars-Modal {
    position: relative;
    display: flex;
		flex-direction: column;
		color: #333;
		z-index: 1;
		width: 32em;
		top: 0;
    left: 0;
		border-radius: 8px;
		background-color: #fff;
    //Modal size
    &.Mars-Modal-lg {

    }
    &.Mars-Modal-md {

    }
    &.Mars-Modal-sm {

    }
    &.Mars-Modal-xs {

    }
    //Modal type
    &.Mars-Modal-success {
      color: #2ECC71;
    }
    &.Mars-Modal-warning {
      color: #f1c40f;
    }
    &.Mars-Modal-error {
      color: #e74c3c;
    }
    &.Mars-Modal-info {
      color: #3498db;
    }
    &.Mars-Modal-primary {
      color: #1abc9c;
    }
    //Modal role
    &.Mars-Modal-Alert {

    }
  }
}
