.Dropdown {
  position: relative;
  color: #333;
  z-index: 9999;
  .Dropdown-Menu {
    position: absolute;
    background-color: #fff;

    .Dropdown-Item {
      position: relative;
      padding: 8px 16px;
      cursor: pointer;
      &:hover {
        background-color: #007fff;
        color: #fff;
      }
    }
  }
}
